div {
  border: 3px solid black;
  padding: 10px;
  margin: 3px;
  border-radius: 15px;
}

.galeria-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.galeria-container img {
  max-width: 100%;
  object-fit: cover;
  height: 140px;
  flex: 1 1 calc(11.111% - 1fr);
  border-radius: 15px;
}

.galeria-container img:hover {
  transform: scale(1.25);
}